@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 240 5% 94%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 240 5% 94%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 20% 98%;
    --card: 0 0% 0%;
    --card-foreground: 210 20% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 83% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 6% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 6% 10%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 240 6% 10%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 6% 10%;
    --input: 240 6% 10%;
    --ring: 262 83% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border selection:bg-primary/20 dark:selection:bg-primary/50;
  }
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply relative bg-background text-foreground font-inter overscroll-none;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}
